
.right{
	float: right;
}


.form{
	width: 100%;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	outline: none;
	padding: 10px;
	border: 2px solid #CCC;
}

.menu{
	background-color: rgb(237,28,36);
	color: #fff;
	position: fixed;
	width: 100%;

	font-weight: 100;
	list-style-type : none;
}

body{
	font-family: 'Lato', sans-serif!important;
}



.menu h1{
	font-weight: 300;
	margin-top: -3px;
}

.menu li{
	margin-top: 10px;
	display: inline;
}

.menu a{
	padding: 15px;
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
}

.menu a:hover{
	color: black;
}

.menu li:last-child{
	right: 0px;
	position: absolute;
	margin-top: -1px;
}

.menu-a{
	margin-top: 8px;
	font-size: 17px;
	font-weight: 500;
	text-decoration: none;

}
span{
	color: black;
}

/*

rgb(237, 28, 36)
*/

.index table {
    margin-top: 0rem;
    border: 0;
}

table {
    background: #fff;
    margin-bottom: 1.25rem;
    border: none;
    table-layout: fixed;
    width: 100%;
}

table thead {
    background: none;
}

table tr {
    border-bottom: 1px solid #ebebec;
}

table thead tr {
    border-bottom: 1px solid #1798A5;
}
td{
	border-bottom: 2px solid red;
	border-bottom: 1px solid #E1E1E1;
	padding: 10px;
}
table tr th {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
	color: #030303;
	text-align: left;
	border-bottom: 2px solid #ED1C24;
		font-size: 17px;
	font-weight: 500;
}
table tr th a{
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
	color: #030303;
	text-decoration: none;
	text-align: left;
	border-bottom: 2px solid #ED1C24;
		font-size: 17px;
	font-weight: 500;
}

table tr:nth-of-type(even) {
    background: none;
}

fieldset {
    border: none;
    padding: 1.25rem;
    margin: 1.125rem 0;
}

fieldset legend {
    border-bottom: 2px solid #1798A5;
    width: 100%;
    line-height: 2rem;
}

.btn-success{
	border:0;
	cursor: pointer;
	padding: 5px;
	outline: none;
	background-color : #71B93F;
	text-decoration: none;
	color: #fff;
}

.btn-success:hover{
	background-color: #505050;
	color: #fff;

}

.btn-info{
	border:0;
	cursor: pointer;
	padding: 5px;
	outline: none;
	background-color : #3FA8B9;
	text-decoration: none;
	color: #fff;
}

.btn-info:hover{
	background-color: #505050;
	color: #fff;

}

.btn-warning{
	border:0;
	cursor: pointer;
	padding: 5px;
	outline: none;
	background-color : #EF9725;
	text-decoration: none;
	color: #fff;
}

.btn-warning:hover{
	background-color: #505050;
	color: #fff;

}

.btn-danger{
	border:0;
	cursor: pointer;
	padding: 5px;
	outline: none;
	background-color : #E31F1F;
	text-decoration: none;
	color: #fff;
}

.btn-danger:hover{
	background-color: #505050;
	color: #fff;

}






.pagination-container {
	margin: 100px auto;
	text-align: center;
}
.pagination {
	position: relative;
	list-style: none;
}
.pagination li{
	display: inline-block;
}
.pagination a {
	position: relative;
	display: inline-block;
	color: red;
	text-decoration: none;
	font-size: 1.2em;
	padding: 8px 16px 10px;
}
.pagination a:before {
	z-index: -1;
	position: absolute;
	height: 100%;
	width: 100%;
	content: "";
	top: 0;
	left: 0;
	background-color: #ED1C24;
	border-radius: 24px;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.pagination a:hover,
.pagination a .pagination-active {
	color: #fff;
}
.pagination a:hover:before,
.pagination a .pagination-active:before {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.pagination .pagination-active {
	color: #fff;
}
.pagination .pagination-active:before {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.pagination-newer {
	margin-right: 50px;
}
.pagination-older {
	margin-left: 50px;
}